@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .anim {
        @apply transition-all duration-300 ease-in-out;
    }
}
:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
@layer utilities {
    .bottom-right {
        mask: right 0 bottom calc(var(--s) + var(--r)) var(--_m),
            right calc(var(--s) + var(--r)) bottom 0 var(--_m),
            radial-gradient(var(--s) at 100% 100%, #0000 99%, #000 101%)
                calc(-1 * var(--r)) calc(-1 * var(--r)) no-repeat,
            conic-gradient(
                from 90deg at calc(100% - var(--s) - 2 * var(--r))
                    calc(100% - var(--s) - 2 * var(--r)),
                #0000 25%,
                #000 0
            );
    }

    .bottom-left {
        mask: calc(var(--s) + var(--r)) bottom var(--_m),
            bottom calc(var(--s) + var(--r)) left 0 var(--_m),
            radial-gradient(var(--s) at 0 100%, #0000 99%, #000 101%) var(--r)
                calc(-1 * var(--r)) no-repeat,
            conic-gradient(
                from 180deg at calc(var(--s) + 2 * var(--r))
                    calc(100% - var(--s) - 2 * var(--r)),
                #0000 25%,
                #000 0
            );
    }

    .top-right {
        mask: right calc(var(--s) + var(--r)) top 0 var(--_m),
            right calc(var(--s) + var(--r)) var(--_m),
            radial-gradient(var(--s) at 100% 0, #0000 99%, #000 101%)
                calc(-1 * var(--r)) var(--r) no-repeat,
            conic-gradient(
                at calc(100% - var(--s) - 2 * var(--r))
                    calc(var(--s) + 2 * var(--r)),
                #0000 25%,
                #000 0
            );
    }

    .top-left {
        mask: calc(var(--s) + var(--r)) 0 var(--_m),
            0 calc(var(--s) + var(--r)) var(--_m),
            radial-gradient(var(--s) at 0 0, #0000 99%, #000 101%) var(--r)
                var(--r) no-repeat,
            conic-gradient(
                at calc(var(--s) + 2 * var(--r)) calc(var(--s) + 2 * var(--r)),
                #000 75%,
                #0000 0
            );
    }
}

input,
button:focus {
    outline: 1px #ffffff;
}

div * {
    scrollbar-width: 1px; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: none !important;
        background-color: transparent;
    }
    ::-webkit-scrollbar {
        width: 3px !important;
        background-color: transparent;
        position: absolute;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #ffffff50;
        border-radius: 10px;
        position: absolute;
    }
}

.reveal-me {
    clip-path: inset(0 0 100% 0);
    animation: reveal 1s forwards cubic-bezier(0.44, -0.01, 0, 0.99);
}

.no-reveal {
    clip-path: inset(0 0 0 0);
    animation: hide 1s forwards cubic-bezier(0.44, -0.01, 0, 0.99);
}

@keyframes reveal {
    0% {
        clip-path: inset(0 0 100% 0);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes hide {
    0% {
        clip-path: inset(0 0 0 0);
    }
    100% {
        clip-path: inset(0 0 100% 0);
    }
}
